body {
	color: #222;
	background: #f3eee8;
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Work Sans', sans-serif;
}

.nav-background {
	background-image: url('./../images/editedBg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 80%;
	opacity: 0.9;
	border-radius: 15px;
	height: 450px;
	padding: 10px;
}

h1 {
	font-size: 78px;
}

.card-body-minHeight {
	height: 340px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
}

/* .card-img-minHeight {
	height: 430px;
} */
