header {
	background: pink;
	height: 100px;
	text-align: center;
}
#moodSection {
	background: green;
	height: 200px;
	width: 100%;
	text-align: center;
}

.content__wrapper {
	text-align: center;
	width: 100%;
}

.flex__wrapper {
	display: flex;
}

#movieSection {
	display: block;
	width: 40%;
	height: 800px;
	background: red;
}

#favedSection {
	width: 20%;
	background: blue;
}

#bookSection {
	width: 40%;
	/* background: purple; */
}

footer {
	background: yellow;
	height: 75px;
}
